<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>躺在海岸边</string>
	<string>看星空有多璀璨</string>
	<string>天亮前游走在山顶端</string>
	<string>吐露阳光的那一刻轻轻念</string>
	<string>知君念君,君在何处? </string>
</array>
</plist>
